.game-board {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 170px;
}


@keyframes showUp {
    from {
        opacity: 0;}
    to { opacity: 1;}
}

.game-card {
    scale: 2;
    border-radius: 5px;
    background-image: url("images/background.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-card > h1 {
    margin: 5px;
    padding: 1px;
    color: #130225;
    font-weight: bold;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

.game-card:hover {
    box-shadow: 1px 1px 5px black;
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .game-card {
        scale : 1.6
    }
    .game-board{
        grid-column-gap: 80px;
        grid-row-gap: 100px;
    }
}

/* Adjust grid for small screens */
@media (max-width: 800px) {
    .game-board{
        grid-column-gap: 60px;
        grid-row-gap: 80px;
    }
    .game-card {
        scale : 1.4
    }

}

/* Adjust grid for very small screens */
@media (max-width: 500px) {
    .game-board{
        grid-template: 1fr 1fr 1fr / 1fr  1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .game-card {
        scale : 1
    }


}